apiVersion: apps/v1
kind: Deployment
metadata:
  name: geoapi
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: geoweb
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  replicas: 1
